/cuda
/cuda*
/Data_*
/Images_RAD
/Images
/Models/__pycache__/
/.DS_Store
/.vscode/
/Models/.vscode/
/.pyenv/
/SemThes_Local
/Models/.DS_Store
/Models/SingleParam_*/__pycache__/
/Models/ClassifyBellCurve/__pycache__/
/Models/SingleParam_*/model*/cnn*
/Models/SingleParam_*/model*/checkpoint
/Models/ClassifyBellCurve/model*/cnn*
/Models/ClassifyBellCurve/model*/checkpoint
