/cuda
/cuda*
/Data_*
/Images_RAD
/Images
/Models/__pycache__/
/.DS_Store
/.vscode/
/Models/.vscode/
/.pyenv/
/SemThes_Local
/Models/MNIST/__*
/Models/.DS_Store
/Models/model*/cnn*
/Models/model*/checkpoint
